.appointment-section {
  background-image: url(../../images/banner-bg.png);
  background-size: cover;
  height: 100vh;
  margin-top: 30px;
}
.appointment-card {
  border: none;
  box-shadow: 0 0 10px #f3f0f0b0;
}

.appointment-card p {
  font-size: 12px;
  font-weight: 100;
}
.my-modal {
  position: fixed;
  width: 40%;
  height: 200px;
  background: #000;
}
